#main{
	-webkit-column-width:297px;
	-moz-column-width:297px;
	-o-column-width:297px;
	-ms-column-width:297px;
}
.box{
	padding: 10px 0 0 15px;
}
.pic{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 260px;
}
.pic img{
	display: block;
	width: 260px;
	height: auto;
}
